<%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header-navbar') %>
  </header>

  <main class="container">
    <h1><%= title %></h1>

    <form method="POST" action="/admin/add-product">
      <div class="form-group">
        <label for="title">Product title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="form-group">
        <label for="image-url">Image URL</label>
        <input type="text" class="form-control" id="image-url" name="imageUrl">
      </div>
      <div class="form-group">
        <label for="description">Product description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" step="0.01" class="form-control" id="price" name="price">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </main>
<%- include('../partials/tail') %>
