<%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header-navbar') %>
  </header>

  <main class="container">
    <h1>ADMIN product view</h1>
    <% if (products.length > 0) { %>
      <ul>
        <% for (let product of products) { %>
          <li><%= product.title %></li>
        <% } %>
      </ul>
    <% } else { %>
      <p>No products yet!</p>
    <% } %>
  </main>
<%- include('../partials/tail') %>
