<div class="col-12">
  <% if (siteMessages.length > 0) { %>
    <% for (let message of siteMessages) { %>
      <% if (message.location) { %>
        <div class="alert alert-warning %>" role="alert">
          <%= message.msg %>
        </div>
      <% } else { %>
        <div class="alert alert-<%= message.type %>" role="alert">
          <%= message.message %>
        </div>
      <% } %>
    <% } %>
  <% } %>
</div>